Title: Netdev 0x13 - Linux on Access Switches Requirements & Features
Publication date: 2019-06-03
Playlist: Netdev 0x13 - Day 3
Description: 
	David Lamparter says the data centre is a friendly sane environment and thats why Linux has made inroads in middle boxes in that area. You aint seen nothing yet until youve seen Enterprise and Campus networks. Campus distribution and access switches need to deal with a much more hostile environment.

In this talk, David collates the currently relevant features for deploying campus and access environments. He gives some operational context, and suggest implementation strategies.

https://netdevconf.org/0x13/session.html?talk-linux-switch-req-feat
YouTube URL: https://www.youtube.com/watch?v=9amIuslQrus


