Title: DrupalCon Austin 2014: SUCCESSFUL REQUIREMENTS GATHERING
Publication date: 2014-06-04
Playlist: DrupalCon Austin - June 2014
Description: 
	Speakers: tfish77
About the session
There's a common refrain that gets uttered at the end of unsuccessful projects: "The requirements weren't clear." Fingers start pointing, blame gets thrown around, and no one ends up happy. But surely this has never happened to you....right?

Gathering requirements is equal parts art and science, and the success of your entire project depends on it. No matter what project methodology you're following, there are some simple rules that can help keep your requirements gathering effort on the right track, and ensure that what you're building is actually what your customer needs, not just what they asked for.

In this session we'll cover topics ranging from active listening to transparent note-taking to invisible stakeholders - and arm you with the tools you need to make any project successful.

About the speaker
Jordan Hirsch is an experienced technologist, digital strategist, and public speaker. He was voted an audience favorite at SXSW and has spoken there 3 times on topics ranging from finding success as a freelancer to dealing with change in life and business. When he's not consulting on digital strategy for clients, Jordan can most often be found onstage, improvising musical comedies on the spot in and around New York City.
Captions: 
	
YouTube URL: https://www.youtube.com/watch?v=mImo1WbcLyw


