Title: Embedded Base Boot Requirements (EBBR)  - SFO17-508
Publication date: 2017-10-20
Playlist: Linaro Connect San Francisco 2017
Description: 
	Session ID: SFO17-508
Session Name: Embedded Base Boot Requirements (EBBR)
 - SFO17-508
Speaker: Dong Wei
Track: LITE


★ Session Summary ★
SFO17-108 - Embedded Base Boot Requirements (EBBR) SFO17-108 This session provides an overview of the Embedded Base Boot Requirements (EBBR) draft that ARM has created based on the community request. It is intended for ARM embedded devices that want to take advantage of the UEFI technology to separate the firmware and OS development while the underline implementation can use U-boot, coreboot, EDK2 or proprietary mechanisms.
---------------------------------------------------
★ Resources ★
Event Page: http://connect.linaro.org/resource/sfo17/sfo17-508/
Presentation: 
Video: https://www.youtube.com/watch?v=MQ4K8SCnNeA
 ---------------------------------------------------

★ Event Details ★
Linaro Connect San Francisco 2017 (SFO17)
25-29 September 2017
Hyatt Regency San Francisco Airport

---------------------------------------------------
Keyword: 
'http://www.linaro.org'
'http://connect.linaro.org'
---------------------------------------------------
Follow us on Social Media
https://www.facebook.com/LinaroOrg
https://twitter.com/linaroorg
https://www.youtube.com/user/linaroorg?sub_confirmation=1
https://www.linkedin.com/company/1026961
Captions: 
	
YouTube URL: https://www.youtube.com/watch?v=MQ4K8SCnNeA


