Title: Netdev 0x13 -  Implementing the 'TCP Prague' Requirements for L4S
Publication date: 2019-05-03
Playlist: Netdev 0x13 - Day 2 - Track 2 - Mar 21 2019
Description: 
	Bob Briscoe et al will introduce the important components of the first 'TCP Prague' implementation which runs on Linux.
A set of changes to DCTCP that would make it deployable over the public Internet are
dubbed the 'TCP Prague requirements'.

Bob provides the rationale and explanation on how the parts integrate together,
both within each system and at Internet scale; he outlines the maturity of each
component implementation, plus some points of interest and issues where decisions
are still needed.

https://netdevconf.org/0x13/session.html?talk-tcp-prague-l4s
YouTube URL: https://www.youtube.com/watch?v=GyXwvRKW0QE


