Title: OpenPOWER Summit NA 2019: OpenPower Ready Certification Process and Requirements
Publication date: 2019-08-20
Playlist: OpenPOWER Summit NA 2019
Description: 
	Presented by Ned Gamble, IBM

The Chairman of the Power Power Ready work group will present an overview of the requirements to achieve the OpenPower Ready certification for computer systems, IO adapters, operating systems and applications.
YouTube URL: https://www.youtube.com/watch?v=8JVQnlyymq0


