Title: DrupalCon London 2011: BUMPING OUR WEB HOSTING REQUIREMENTS
Publication date: 2013-03-23
Playlist: DrupalCon London - August 2011
Description: 
	Problem: 
Drupal currently caters to $5 shared hosting and exotic custom hosting like Examiner.com, Economist.com, etc. This massive range makes software design difficult. It also prevents us from focusing on a target audience.

Proposed solution: 
Drupal should focus on the audience it serves best. IMO, thats mid range and high end web sites. With that focus, we can design cleaner software and avoid some prolonged fights in the issue queue. Perhaps we can even stop the defections from core development (e.g. Development Seed).

Here are some possible increases in our software requirements:

- Shell access to your server is required.
- Drush is required
- APC or other opcode cache is assumed present
YouTube URL: https://www.youtube.com/watch?v=oxCfXl-6jn0


