Title: DrupalCon Sydney 2013: Re-think Your Requirements
Publication date: 2013-03-29
Playlist: DrupalCon Sydney - February 2013
Description: 
	Requirements often come with technical implications, without regard for the platform that will be used - or even for the system's users and what they might want. Meeting strictly written requirements can lead to an over-engineered and over-priced solution.

Don't let requirements undermine Drupal's strengths by being too prescriptive about the approach. You can re-frame the requirements to leverage what Drupal does well, instead of trying to work around its weaknesses to build a custom, complex product.

Beyond improving the technical outcome, writing Drupal-y requirements can help avoid misunderstandings. The intent of a requirement is to establish business value - not to tell you how to build something.

This session targets those on the delivery end of Drupal and will look at how to achieve useful requirements to establish a mutually understood goal. Then you can build it - the Drupal way!
YouTube URL: https://www.youtube.com/watch?v=oUfz3A4k12U


